:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#container {
  max-width: 1280px;
  /* margin: 0 auto; */
  padding: 2rem;
  text-align: left;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.intro-container,
.display-container {
  padding: 1rem;
  /* border: 2px white solid; */
  /* -webkit-box-shadow: 6px 8px 29px -5px #ffffff; */
  /* background-color: rgba(67, 66, 66, 0.705); */
  /* background-color: rgba(35, 35, 35, 0.635); */
  /* box-shadow: inset -6px -1px 29px -5px #2e2e2e; */
}

.intro-container {
  min-width: 320px;
  width: 40vw;
  max-width: 80vw;
  height: fit-content;
  border-radius: 5px;
}

.intro-english {
  display: block;
}

.intro-spanish {
  display: none;
}

.clickable-languages {
  margin-left: 1em;
  width: 200px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  justify-items: center;
  align-items: stretch;
  column-gap: 1.5rem;
  grid-auto-flow: row;
}

.clickable {
  border: white 2px solid;
  border-radius: 6%;
  padding: 1rem 2rem;
  user-select: none;
}

.clickable:hover {
  cursor: pointer;
  transform: translateX(10px);
  transition: transform 0.3s ease;
}

.clickable-1 {
  border-color: yellow;
}

.clickable-2 {
  border-color: blue;
}

.clickable-3 {
  border-color: purple;
}

.clickable-4 {
  border-color: orange;
}

.display-container {
  min-width: 80vw;
  min-height: 400px;
  /* max-height: fit-content; */
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto;
  gap: 2em;
  -webkit-box-shadow: inset -13px 6px 29px -5px grey;
  box-shadow: inset -13px 6px 29px -5px grey;
  border-radius: 5px;
}

.display {
  max-height: fit-content;
  width: fit-content;
  animation: appear linear;
  animation-timeline: view();
  animation-range: entry 0 cover 40%;
}

.display:hover {
  transform: scale(105%);
  cursor: pointer;
}

.display-js {
  border-left: yellow solid 5px;
  border-radius: 5px;
}

.display-react {
  border-left: blue solid 5px;
  border-radius: 5px;
}

/* .javascript-project */
/* .react-project */

a {
  font-weight: 500;
  color: white;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  /* place-items: center; */
  min-width: 320px;
  min-height: 100vh;
}

h3 {
  font-size: 2.2em;
  line-height: 1.1;
}

.svg {
  display: inline-block;
  position: fixed;
  top: 100px;
  right: 300px;
  transition: transform 0.3s ease;
}

/* Hover bounce */
.svg:hover {
  animation: bounce 0.6s ease-out;
}

.clickable-1:active {
  -webkit-box-shadow: 5px 5px 15px 5px #ffee3b;
  box-shadow: 5px 5px 15px 5px #ffee3b;
}

.clickable-2:active {
  -webkit-box-shadow: 5px 5px 15px 5px #3337ff;
  box-shadow: 5px 5px 15px 5px #3337ff;
}

.clickable-3:active {
  -webkit-box-shadow: 5px 5px 15px 5px #d626ff;
  box-shadow: 5px 5px 15px 5px #d626ff;
}

.clickable-4:active {
  -webkit-box-shadow: 5px 5px 15px 5px #ff7826;
  box-shadow: 5px 5px 15px 5px #ff7826;
}

/* Keyframes for bounce */
@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  30% {
    transform: translateY(12px);
  }
  50% {
    transform: translateY(0);
  }
  70% {
    transform: translateY(-6px);
  }
  100% {
    transform: translateY(0);
  }
}

@media only screen and (max-width: 768px) {
  #container {
    grid-template-columns: 1fr; /* Change to a single column for mobile */
    /* You might also adjust other properties like grid-template-rows, grid-template-areas, etc. */
  }

  .display-container {
    grid-template-columns: 1fr;
  }

  /* .display-1::after,
  .display-3::after {
    content: "Re-created With React";
    white-space: pre;
  } */
}

@media only screen and (max-width: 1000px) {
  .svg {
    display: none;
  }
}

@keyframes appear {
  from {
    opacity: 0;
    scale: 0.5;
  }
  to {
    opacity: 1;
    scale: 1;
  }
}

.widget {
  background-color: white;
  position: fixed;
  top: 50%;
  right: 0;
  height: 50px;
  color: black;
  display: flex;
  flex-direction: row-reverse;
  font-size: 2.2em;
}

.widget:hover {
  cursor: pointer;
  background-color: red;
}

.cv {
  display: none;
  height: 200px;
  width: 100px;
  /* border: black solid 1px; */
  z-index: 1000;
  background-color: whitesmoke;
}
